
<footer>
    <p>Pieces put together by Sachin</p>
</footer>



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{$base_url}assets/js/jquery.js"></script>
<script src="{$base_url}assets/js/respond.min.js"></script>
<script src="{$base_url}assets/js/bootstrap.min.js"></script>




</body>
</html>
