<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Stylesheets -->
    <link href="{$base_url}assets/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/font-awesome.min.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/jquery-ui.css">
    <!-- Calendar -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/fullcalendar.css">
    <!-- prettyPhoto -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/prettyPhoto.css">
    <!-- Star rating -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/rateit.css">
    <!-- Date picker -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/bootstrap-datetimepicker.min.css">
    <!-- CLEditor -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/jquery.cleditor.css">
    <!-- Data tables -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/jquery.dataTables.css">
    <!-- Bootstrap toggle -->
    <link rel="stylesheet" href="{$base_url}assets/admin/css/jquery.onoff.css">
    <!-- Main stylesheet -->
    <link href="{$base_url}assets/admin/css/style.css" rel="stylesheet">
    <!-- Widgets stylesheet -->
    <link href="{$base_url}assets/admin/css/widgets.css" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link href="{$base_url}assets/ico/favicon.ico'); ?>" rel="shortcut icon">

    {if $auth == 0}

    {else}

    {/if}
    {foreach $output_css file}
        <link type="text/css" rel="stylesheet" href="{$file}" />
    {/foreach}




</head>
<body>

<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">

    <div class="container">
        <!-- Menu button for smallar screens -->
        <div class="navbar-header">
            <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span>Menu</span>
            </button>
            <!-- Site name for smallar screens -->
            <a href="index.html" class="navbar-brand hidden-lg">MacBeth</a>
        </div>



        <!-- Navigation starts -->
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

            <ul class="nav navbar-nav">

                <!-- Upload to server link. Class "dropdown-big" creates big dropdown -->
                <li class="dropdown dropdown-big">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-success"><i class="fa fa-cloud-upload"></i></span> Upload to Cloud</a>
                    <!-- Dropdown -->
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Progress bar -->
                            <p>Photo Upload in Progress</p>
                            <!-- Bootstrap progress bar -->
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete</span>
                                </div>
                            </div>

                            <hr />

                            <!-- Progress bar -->
                            <p>Video Upload in Progress</p>
                            <!-- Bootstrap progress bar -->
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>

                            <hr />

                            <!-- Dropdown menu footer -->
                            <div class="drop-foot">
                                <a href="#">View All</a>
                            </div>

                        </li>
                    </ul>
                </li>

                <!-- Sync to server link -->
                <li class="dropdown dropdown-big">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-danger"><i class="fa fa-refresh"></i></span> Sync with Server</a>
                    <!-- Dropdown -->
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Using "icon-spin" class to rotate icon. -->
                            <p><span class="label label-info"><i class="fa fa-cloud"></i></span> Syncing Members Lists to Server</p>
                            <hr />
                            <p><span class="label label-warning"><i class="fa fa-cloud"></i></span> Syncing Bookmarks Lists to Cloud</p>

                            <hr />

                            <!-- Dropdown menu footer -->
                            <div class="drop-foot">
                                <a href="#">View All</a>
                            </div>

                        </li>
                    </ul>
                </li>

            </ul>

            <!-- Search form -->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <!-- Links -->
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown pull-right">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-user"></i> {$userdetails.firstname}<b class="caret"></b>
                    </a>

                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
                        <li><a href="{$base_url}admin_logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>

            </ul>
        </nav>

    </div>
</div>


<!-- Header starts -->
<header>
    <div class="container">
        <div class="row">

            <!-- Logo section -->
            <div class="col-md-4">
                <!-- Logo. -->
                <div class="logo">
                    <h1><a href="#">StoryOf.<span class="bold">CEO</span></a></h1>
                    <p class="meta">Inspire and Get Inspired!</p>
                </div>
                <!-- Logo ends -->
            </div>

            <!-- Button section -->
            <div class="col-md-4">

                <!-- Buttons -->
                <ul class="nav nav-pills">

                    <!-- Comment button with number of latest comments count -->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-comments"></i> Chats <span   class="label label-info">6</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-comments"></i> Chats</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6 -->
                                <h6><a href="#">Hi :)</a> <span class="label label-warning pull-right">10:42</span></h6>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <h6><a href="#">How are you?</a> <span class="label label-warning pull-right">20:42</span></h6>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <h6><a href="#">What are you doing?</a> <span class="label label-warning pull-right">14:42</span></h6>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <!-- Message button with number of latest messages count-->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i> Inbox <span class="label label-primary">6</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-envelope"></i> Messages</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6 -->
                                <h6><a href="#">Hello how are you?</a></h6>
                                <!-- List item para -->
                                <p>Quisque eu consectetur erat eget  semper...</p>
                                <hr />
                            </li>
                            <li>
                                <h6><a href="#">Today is wonderful?</a></h6>
                                <p>Quisque eu consectetur erat eget  semper...</p>
                                <hr />
                            </li>
                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <!-- Members button with number of latest members count -->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-user"></i> Users <span   class="label label-success">6</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-user"></i> Users</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6-->
                                <h6><a href="#">Ravi Kumar</a> <span class="label label-warning pull-right">Free</span></h6>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <h6><a href="#">Balaji</a> <span class="label label-important pull-right">Premium</span></h6>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <h6><a href="#">Kumarasamy</a> <span class="label label-warning pull-right">Free</span></h6>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>

            <!-- Data section -->

            <div class="col-md-4">
                <div class="header-data">

                    <!-- Traffic data -->
                    <div class="hdata">
                        <div class="mcol-left">
                            <!-- Icon with red background -->
                            <i class="fa fa-signal bred"></i>
                        </div>
                        <div class="mcol-right">
                            <!-- Number of visitors -->
                            <p><a href="#">7000</a> <em>visits</em></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Members data -->
                    <div class="hdata">
                        <div class="mcol-left">
                            <!-- Icon with blue background -->
                            <i class="fa fa-user bblue"></i>
                        </div>
                        <div class="mcol-right">
                            <!-- Number of visitors -->
                            <p><a href="#">3000</a> <em>users</em></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- revenue data -->
                    <div class="hdata">
                        <div class="mcol-left">
                            <!-- Icon with green background -->
                            <i class="fa fa-money bgreen"></i>
                        </div>
                        <div class="mcol-right">
                            <!-- Number of visitors -->
                            <p><a href="#">5000</a><em>orders</em></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</header>

<!-- Header ends -->

<!-- Main content starts -->

<div class="content">