<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <div class="wrap">
				<div class="logo">
						<p>OOPS! - You hit a rock! May be we are still building our Castle! </p>
						<img src="{$base_url}assets/img/error.jpg"/>
						<div class="sub">
						  <p><a href="#">Back </a></p>
						</div>
				</div>
			 </div>	
		</div>
	</div>
</div>