<div class="container"><div class="row clearfix"><div class="col-md-3 column"></div><div class="col-md-9 column"><div class="container">
	<h1 class="text-center text-primary title">
		{$issueVars}</h1>
	<hr class="divider-title" />
	<div class="col-ms-10 col-md-4">
		<div class="project">
			<figure class="img-responsive">
				<img src="http://lorempixel.com/400/300/sports/6/" /> <figcaption> <span class="project-details">Full project name</span> <span class="project-price"><strong>$100</strong></span> <span class="project-creator">creator name</span> </figcaption> <span class="actions"><button class="btn btn-warning bnt-action" type="submit">View</button></span></figure>
		</div>
	</div>
	<div class="col-ms-10 col-md-4">
		<div class="project">
			<figure class="img-responsive">
				<img src="http://lorempixel.com/400/300/city/2/" /> <figcaption> <span class="project-details">Full project name</span> <span class="project-price"><strong>$100</strong></span> <span class="project-creator">creator name</span> </figcaption> <span class="actions"><button class="btn btn-warning bnt-action" type="submit">View</button></span></figure>
		</div>
	</div>
	<div class="col-ms-10 col-md-4">
		<div class="project">
			<figure class="img-responsive">
				<img src="http://lorempixel.com/400/300/fashion/5/" /> <figcaption> <span class="project-details">Full project name</span> <span class="project-price"><strong>$100</strong></span> <span class="project-creator">creator name</span> </figcaption> <span class="actions"><button class="btn btn-warning bnt-action" type="submit">View</button></span></figure>
		</div>
	</div>
</div>
<p>
	&nbsp;</p>
</div></div></div>