<div class="container"><div class="row clearfix"><div class="col-md-2 column"><div class="panel panel-default">
	<div class="panel-body" style="padding: 1px!important;">
		<a class="btn" data-toggle="modal" href="#modal-container-{$modal_id}" id="modal-{$modal_id}" role="button"><img alt="140x140" class="img-circle" src="http://lorempixel.com/210/210/" width="100%" /> </a>
		<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-container-{$modal_id}" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
						<h4 class="modal-title" id="myModalLabel">
							{$modal_title}</h4>
					</div>
					<div class="modal-body">
						POST /....</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button">Save changes</button></div>
				</div>
			</div>
		</div>
		<span class="label label-default">{$userdetails.firstname} {$userdetails.lastname} </span><br />
		<span class="label label-default">{$userdetails.username} </span><br />
		<span class="label label-default">Last Loggedin: {$userdetails.userlastlogin} </span></div>
</div>
<p>
	&nbsp;</p>
</div><div class="col-md-10 column"><div class="panel panel-default">
        <div class="panel-body" style="padding: 1px!important;">
            <div class="list-group">
                <a href="#" class="list-group-item active">Friends</a>
                <div class="list-group-item text-center">
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                </div>
                <div class="list-group-item text-center">
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                </div>
                <div class="list-group-item text-center">
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                </div>

                <a class="list-group-item active"><span class="badge">14</span>Help</a>
            </div>
        </div>
    </div></div></div><div class="row clearfix"><div class="col-md-6 column"><div style="color:red;">Hello,
	{$userdetails.firstname}!</div>
</div><div class="col-md-6 column"><p>
	hfslahbhbhgabba</p>
<p>
	{$demotest}</p>
<p>
	&nbsp;</p>
</div></div></div>


<b>Bonus:</b> {$comp->CurrencyCode} {$comp->Bonus}<br/>
                                <b>Salary:</b> {$comp->Salary} <br/>
                                <b>Total:</b> {$comp->Total}