<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<ul class="nav nav-pills nav-stacked">
				<li class="active">
					<a href="#">Home</a></li>
				<li>
					<a href="#">Profile</a></li>
				<li class="disabled">
					<a href="#">Messages</a></li>
			</ul>
		</div>
		<div class="col-md-9 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Panel title</h3>
				</div>
				<div class="panel-body">
					Panel content</div>
				<div class="panel-footer">
					Panel footer</div>
			</div>
		</div>
	</div>
</div>
<p>
	demo</p>
