<div class="container"><div class="row clearfix"><div class="col-md-2 column"><div class="panel panel-default">
	<div class="panel-body" style="padding: 1px!important;">
		<a class="btn" data-toggle="modal" href="#modal-container-{$modal_id}" id="modal-{$modal_id}" role="button"><img alt="140x140" class="img-circle" src="http://lorempixel.com/210/210/" width="100%" /> </a>
		<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-container-{$modal_id}" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
						<h4 class="modal-title" id="myModalLabel">
							{$modal_title}</h4>
					</div>
					<div class="modal-body">
						POST /....</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button">Save changes</button></div>
				</div>
			</div>
		</div>
		<span class="label label-default">{$userdetails.firstname} {$userdetails.lastname} </span><br />
		<span class="label label-default">{$userdetails.username} </span><br />
		<span class="label label-default">Last Loggedin: {$userdetails.userlastlogin} </span></div>
</div>
<p>
	&nbsp;</p>
</div><div class="col-md-10 column"><div class="container">
	<h1 class="text-center text-primary title">
		{$issueVars}</h1>
	<hr class="divider-title" />
	<div class="col-ms-10 col-md-4">
		<div class="project">
			<figure class="img-responsive">
				<img src="http://lorempixel.com/400/300/sports/6/" /> <figcaption> <span class="project-details">Full project name</span> <span class="project-price"><strong>$100</strong></span> <span class="project-creator">creator name</span> </figcaption> <span class="actions"><button class="btn btn-warning bnt-action" type="submit">View</button></span></figure>
		</div>
	</div>
	<div class="col-ms-10 col-md-4">
		<div class="project">
			<figure class="img-responsive">
				<img src="http://lorempixel.com/400/300/city/2/" /> <figcaption> <span class="project-details">Full project name</span> <span class="project-price"><strong>$100</strong></span> <span class="project-creator">creator name</span> </figcaption> <span class="actions"><button class="btn btn-warning bnt-action" type="submit">View</button></span></figure>
		</div>
	</div>
	<div class="col-ms-10 col-md-4">
		<div class="project">
			<figure class="img-responsive">
				<img src="http://lorempixel.com/400/300/fashion/5/" /> <figcaption> <span class="project-details">Full project name</span> <span class="project-price"><strong>$100</strong></span> <span class="project-creator">creator name</span> </figcaption> <span class="actions"><button class="btn btn-warning bnt-action" type="submit">View</button></span></figure>
		</div>
	</div>
</div>
<p>
	&nbsp;</p>
</div></div><div class="row clearfix"><div class="col-md-6 column"><div class="panel panel-default">
	<div class="panel-body" style="padding: 1px!important;">
		{$userdetails.username}</div>
</div>
</div><div class="col-md-6 column"></div></div></div>