.container_feeds{
	margin-left: 300px;
	width: 500px;
	/* border: 1px solid #333; */
	padding-left: 20px;
	
}


.profile_pic{
	display: inline-block;
	width: 120px;
	/* border: 1px solid #333; */
}

.content111{
	margin-left: 10px;
	display: inline-block;
	width: 330px;
	/* border: 1px solid #333; */
}
