<div class="col-md-3 column">
    <div class="panel panel-default">
        <div class="panel-body" style="padding: 1px!important;">
            <a id="modal-{$modal_id}" href="#modal-container-{$modal_id}" role="button" class="btn" data-toggle="modal">
                <img width="100%" alt="140x140" src="http://lorempixel.com/210/210/" class="img-circle" />
            </a>
            {include file='../templates/modal.tpl'}
            <span class="label label-default">
                {$userdetails.firstname} {$userdetails.lastname}
            </span><br/>
            <span class="label label-default">
                {$userdetails.username}
            </span><br/>
            <span class="label label-default">
                Last Loggedin: {$userdetails.userlastlogin}
            </span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body" style="padding: 1px!important;">
            <div class="list-group">
                <a href="#" class="list-group-item active">Friends</a>
                <div class="list-group-item text-center">
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                </div>
                <div class="list-group-item text-center">
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                </div>
                <div class="list-group-item text-center">
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                    <img alt="140x140" src="http://lorempixel.com/42/42/" class="img-circle" />
                </div>

                <a class="list-group-item active"><span class="badge">14</span>Help</a>
            </div>
        </div>
    </div>
</div>


