<div class="col-md-4 column">
    <div class="btn-group">
        <button class="btn btn-default">
            Action
        </button>
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu right">
            <li>
                <a href="#">Action</a>
            </li>
            <li class="disabled">
                <a href="#">Another action</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">Something else here</a>
            </li>
        </ul>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active">Home</a>
        <div class="list-group-item">
            List header
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading"> List group item heading </h4>
            <p class="list-group-item-text">
                ...
            </p>
        </div>
        <div class="list-group-item">
            <span class="badge">14</span>Help
        </div>
        <a class="list-group-item active"><span class="badge">14</span>Help</a>
    </div>
    <div class="carousel slide" id="carousel-596579">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-596579"></li>
            <li data-slide-to="1" data-target="#carousel-596579" class="active"></li>
            <li data-slide-to="2" data-target="#carousel-596579"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item">
                <img alt="" src="http://lorempixel.com/1600/500/sports/1" />
                <div class="carousel-caption">
                    <h4> First Thumbnail label </h4>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>
            <div class="item active">
                <img alt="" src="http://lorempixel.com/1600/500/sports/2" />
                <div class="carousel-caption">
                    <h4> Second Thumbnail label </h4>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>
            <div class="item">
                <img alt="" src="http://lorempixel.com/1600/500/sports/3" />
                <div class="carousel-caption">
                    <h4> Third Thumbnail label </h4>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-596579" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control" href="#carousel-596579" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>


